<div class="tabs">
  <ul class="nav nav-tabs" id="left-tabes" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="admin1"
        data-bs-toggle="tab"
        data-bs-target="#tab-admin1"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Risk Type
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="admin2"
        data-bs-toggle="tab"
        data-bs-target="#tab-admin2"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Risk Status
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="admin3"
        data-bs-toggle="tab"
        data-bs-target="#tab-admin3"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Policy Type
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="admin4"
        data-bs-toggle="tab"
        data-bs-target="#tab-admin4"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Policy Status
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="admin5"
        data-bs-toggle="tab"
        data-bs-target="#tab-admin5"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Claim Status
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="admin6"
        data-bs-toggle="tab"
        data-bs-target="#tab-admin6"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Insurer
      </button>
    </li>
  </ul>

  <div class="tab-content tabs">
    <div class="tab-pane fade show active" id="tab-admin1" role="tabpanel">
      <!-- <lookup-admin-comp [PrimaryKeyFieldName]="'RiskTypeId'" [TableName]="'LU_RiskType'"
            [LookupName]="'Risk Type'"></lookup-admin-comp> -->
    </div>
    <div class="tab-pane fade" id="tab-admin2" role="tabpanel" aria-labelledby="profile-tab">
      <!-- <lookup-admin-comp [PrimaryKeyFieldName]="'RiskStatusId'" [TableName]="'LU_RiskStatus'"
            [LookupName]="'Risk Status'"></lookup-admin-comp> -->
    </div>
    <div class="tab-pane" id="tab-admin3" role="tabpanel" aria-labelledby="contact-tab">
      <!-- <lookup-admin-comp [PrimaryKeyFieldName]="'PolicyTypeId'" [TableName]="'LU_PolicyType'"
            [LookupName]="'Policy Type'"></lookup-admin-comp> -->
    </div>
    <div class="tab-pane" id="tab-admin4" role="tabpanel" aria-labelledby="contact-tab">
      <!-- <lookup-admin-comp [PrimaryKeyFieldName]="'PolicyStatusId'" [TableName]="'LU_PolicyStatus'"
            [LookupName]="'Policy Status'"></lookup-admin-comp> -->
    </div>
    <div class="tab-pane" id="tab-admin5" role="tabpanel" aria-labelledby="contact-tab">
      <!-- <lookup-admin-comp [PrimaryKeyFieldName]="'ClaimStatusId'" [TableName]="'LU_ClaimStatus'"
            [LookupName]="'Claim Status'"></lookup-admin-comp> -->
    </div>
    <div class="tab-pane" id="tab-admin6" role="tabpanel" aria-labelledby="contact-tab">
      <!-- <lookup-admin-comp [PrimaryKeyFieldName]="'InsurerId'" [TableName]="'MA_Insurer'"
            [LookupName]="'Insurer'"></lookup-admin-comp> -->
    </div>
  </div>
</div>
