<div class="row g-0" *ngIf="AllCriteria !== null">
  <div class="col-xl-4 col-md-12 text-left">
    <form class="d-flex">
      <label class="me-1 text-info" style="text-align: center">Show</label>
      <select
        class="form-control form-control-sm"
        style="max-width: 50px; text-align: center"
        [(ngModel)]="AllCriteria.pageSize"
        name="PageSize"
        (change)="OnPageSizeChange()"
      >
        <option *ngFor="let p of PageOptions" [ngValue]="p">{{ p }}</option>
      </select>
      <label class="ms-1 text-info" style="text-align: center">entries</label>
    </form>
  </div>

  <div class="col-xl-4 col-md-12 text-center">
    <div class="pt-1">
      <!--Showing 1 - 10 of X entries-->
      <div *ngIf="RecordTotal !== 0 && RecordTotal !== null">
        {{ RecordTotal | number: '2.' || 0 }} record(s)
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-12 text-end">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-default btn-sm" (click)="previous()">Previous</button>
      <button class="btn btn-default btn-sm btn-primary">{{ AllCriteria?.pageIndex }}</button>
      <button class="btn btn-default btn-sm" (click)="next()">Next</button>
    </div>
  </div>
</div>
