<div class="input-group me-2">
  <input
          [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'"
         class="form-control form-control-sm" (blur)="inputBlur($event)"
         [ngModel]="dateString | date:inputDatetimeFormat"
         (change)="onInputChange($event)"
         (click)="dateInputClick(calendarButton)"
         [disabled]='disabled' />

  <div class="input-group-append">
    <button class="btn btn-sm btn-secondary" #calendarButton [ngbPopover]="calendarContent" [disabled]='disabled' type="button">
      <!--<fa-icon [icon]="['far', 'calendar']"></fa-icon>-->
      <i class="fa fa-calendar"></i>
    </button>
  </div>
</div>

<ng-template #calendarContent style="z-index:9999">
  <div style="z-index:9999">
    <div *ngIf="!showTimePickerToggle">
      <ngb-datepicker #dp="ngbDatepicker" name="datepicker" [ngModel]="datetime" (ngModelChange)="onDateChange($event)"></ngb-datepicker>
      <button class="btn btn-block btn-outline-secondary" [disabled]="!datetime?.day" [ngbPopover]="timePickerContent" type="button" (click)="toggleDateTimeState($event)">
        <!--<fa-icon [icon]="['far', 'clock']"></fa-icon>-->
        <i class="far fa-clock"></i>
      </button>
    </div>
    <div *ngIf="showTimePickerToggle">
      <button class="btn btn-block btn-outline-secondary" [ngbPopover]="calendarContent" type="button" (click)="toggleDateTimeState($event)">
        <!--<fa-icon [icon]="['far', 'calendar']"></fa-icon>-->
        <i class="far fa-calendar"></i>
      </button>
      <div class="mt-auto">
        <ngb-timepicker #tp name="timepicker" [ngModel]="datetime" (ngModelChange)="onTimeChange($event)"
                        [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"></ngb-timepicker>
      </div>
    </div>
  </div>
</ng-template>

