<div class="content-height-1 row g-0" *ngIf="ViewModel !== null">
  <div class="col-xl-12 col-lg-12 tab g-0">
    <ul class="nav nav-tabs" id="email-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="header-nav-item nav-link active" id="details-tab" data-bs-toggle="tab" href="#details" role="tab"
          aria-controls="details" aria-selected="true">
          Details
        </button>
      </li>
    </ul>

    <div class="tab-content p-0" id="myTabContent" *ngIf="ViewModel !== null">
      <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <form class="form-inline my-2 my-lg-0 mr-auto">
              <button class="btn btn-sm btn-secondary rounded-0 me-1 ms-1" value="Back" name="back" (click)="back()">
                <i class="fa fa-arrow-left"></i>&nbsp; Back
              </button>

              <button class="btn btn-sm btn-primary rounded-0 me-1" (click)="save()" name="save"
                [disabled]="!form.valid">
                <i class="fa fa-save"></i>&nbsp; Save
              </button>

              <button class="btn btn-sm btn-danger" name="save" (click)="deleteUser()">
                <i class="fa fa-trash"></i>
              </button>
            </form>

            <form class="my-2 my-lg-0">
              <h5>{{ ViewModel?.displayName }}</h5>
            </form>
          </div>
        </nav>

        <div class="details-height p-0">
          <form #form="ngForm" autocomplete="off" class="p-2">
            <input autocomplete="false" name="hidden" type="text" style="display: none" />

            <div class="row g-0">
              <div class="col-6 p-1">
                <label class="edit-label mt-3 mb-2"> First Name </label>
                <label class="pull-right form-error mt-3 mb-2" *ngIf="fname.errors?.['required']">Name Required</label>

                <input autocomplete="false" type="text" class="form-control form-control-sm" #fname="ngModel"
                  name="firstName" [(ngModel)]="ViewModel.name" required />
              </div>
              <div class="col-6 p-1">
                <label class="edit-label mt-3 mb-2"> Surname </label>
                <label class="pull-right form-error mt-3 mb-2" *ngIf="sname.errors?.['required']">Surname
                  Required</label>

                <input autocomplete="false" type="text" class="form-control form-control-sm" #sname="ngModel"
                  name="surname" [(ngModel)]="ViewModel.surname" required />
              </div>
            </div>

            <div class="row g-0">
              <div class="mb-2 col-sm-12 col-lg-6 col-md-12 p-1">
                <label class="edit-label mt-3 mb-2"> Email Address </label>
                <label class="pull-right form-error mt-3 mb-2"
                  *ngIf="email.errors?.['pattern'] || email.errors?.['required']">Email Invalid</label>

                <input type="text" class="form-control form-control-sm" #email="ngModel" name="email"
                  [(ngModel)]="ViewModel.email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z.]$" required />
              </div>

              <div class="mb-2 col-sm-12 col-lg-6 col-md-12 p-1">
                <label class="edit-label mt-3 mb-2"> Status </label>
                <app-select-single-lookup #userStatusLookup name="userStatusLookup" [appendTo]="'Body'"
                  [TableName]="'ui_user_status'" [Name]="'status'" [Id]="'id'"
                  [(ngModel)]="ViewModel.userStatusId"></app-select-single-lookup>
              </div>
            </div>

            <div class="row g-0">
              <div class="col-6 p-1">
                <label class="edit-label mt-3 mb-2"> Last Logged In </label>
                <input autocomplete="false" type="text" class="form-control form-control-sm" [readonly]="true"
                  [disabled]="true" name="loginDate" value="{{ ViewModel.loginDate | date: 'dd-MM-yyyy HH:mm' }}" />
              </div>

              <div class="col-6 p-1">
                <label class="edit-label mt-3 mb-2"> Created Date </label>
                <input autocomplete="false" type="text" class="form-control form-control-sm" [readonly]="true"
                  [disabled]="true" name="createdDate" value="{{ ViewModel.createdAt | date: 'dd-MM-yyyy HH:mm' }}" />
              </div>
            </div>

            <div class="row g-0">
              <div class="mb-2 col-sm-12 col-lg-6 col-md-12 p-1">
                <label class="edit-label mt-3 mb-2"> Is Active </label>
                <div class="form-switch">
                  <input class="form-check-input" type="checkbox" id="isActive" name="isActive"
                    [(ngModel)]="ViewModel.isActive" />
                  <label class="form-check-label" for="isActive"></label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>